<a ui-sref="home">Home</a> &lt; <a ui-sref="categories">Menu Categories</a> &lt; <span>{{catItems.catitems.category.name}}</span>

<div class="row">
  <div class="col-sm-12">
    <h3>{{catItems.catitems.category.name}} ({{catItems.catitems.category.short_name}})</h3>
    <items catitems="catItems.catitems"></items>
  </div>
  <!-- <ul>
    <li ng-repeat="category in menu.allCategories" ui-sref="categories.itemDetail({itemId: $index})">
      > {{ category.short_name }} > of {{ category.name }}
    </li>
  </ul> -->
  <!-- <div class="col-sm">
    <ui-view></ui-view>
  </div> -->
</div>
